body {
    font-family: 'Nunito Sans', sans-serif;
    margin: 0;
    max-height: fit-content;
}

.main {
    padding: 60px;
    background:  linear-gradient(#CF4B52, #DB8049);
    justify-content: center;
    display: flex;
    align-items: center;
    max-height: fit-content;
}

.mani {
    padding: 60px;
    background:  linear-gradient(#D27031, #619FAC);
    justify-content: center;
    display: flex;
    align-items: center;
}

.naim {
    padding: 60px;
    background:  linear-gradient(#CFCFCF, #ED7739);
    justify-content: center;
    display: flex;
    align-items: center;
}

.now {
    color: white;
    font-size: 20px;
    font-weight: 600;
    position: relative;
    left: 65px;
}

.track {
    color: white;
    font-size: 36px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: bolder;
}

.box {
    position: relative;
    
}

.artist {
    color: white;
    font-size: 24px;
    display: flex;
    justify-content: center;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.frame {
    width: 414px;
    height: 736px;
    display: flex;
    justify-self: center;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}


img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
    /* padding: 5px; */
}

.more {
    position: relative;
    top: 160px;
    text-decoration: none;
    color: aliceblue;
}

